[submodule "third-party/FBInk"]
	path = third-party/FBInk
	url = https://github.com/NiLuJe/FBInk.git
[submodule "third-party/libvterm"]
	path = third-party/libvterm
	url = https://github.com/neovim/libvterm.git
    ignore = dirty
[submodule "third-party/libevdev"]
	path = third-party/libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
